.setup-page {
  margin-top: 1200px;
  position: relative;
}

.setup-page img {
  width: 100vw;
  height: 100vh;
}

.setup-page .text-container {
  position: absolute;
  width: 600px;
  top: 250px;
  left: 250px;
}

.setup-page .text-container .title {
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 0;
}